/* text */
.bold {
  font-weight: bold;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.vat {
  vertical-align: top;
}
.vam {
  vertical-align: middle;
}
/* position */
.posa {
  position: absolute;
}
.posr {
  position: relative;
}
/* layout */
.vh {
  visibility: hidden;
}
.dn {
  display: none;
}
.dib {
  display: inline-block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
/* dimension */
.mauto {
  margin-right: auto;
  margin-left: auto;
}
/* ui */
.pointer {
  cursor: pointer;
}
.usn {
  user-select: none;
}
.bzb {
  box-sizing: border-box;
}
/* combination text */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* combination layout */
.flex-hcenter {
  display: flex;
  justify-content: center;
}
.flex-vcenter {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col-hcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-jcsb {
  display: flex;
  justify-content: space-between;
}
.flex-jcse {
  display: flex;
  justify-content: space-evenly;
}
